.top-bar{
    background-color: #C86D19 ;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    width: 100%;
    justify-content: space-around;
    
    align-items: center;
   
}
.content-txt1{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 50px;
    min-width: 45vw;
    text-align: center;
}
.content-txt2{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 30px;
    min-width: 45vw;
    text-align: center;
}
.content-img{
    position: absolute;
    height: 135px;
    padding-bottom: 15px;    

}
.content-txt{
    color: white;
}
.low-bar{
    border-top: 20px solid black;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    color: #ffff;
    font-size: 16px;
    background-color: black;
    
}
.low-bar2{
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffff;
    background-color: black;
}
.content-txt3{
    text-align: center;
    font-size: 16px;
    
}
.content-img2{
    margin-left: 100px;
    height: 50px;
}
.low-bar3{
    border-top: 30px solid black;
    border-bottom: 80px solid black;
    height: 70px;
    justify-content: center;
    display: flex;
    color: #ffff;
    font-size: 16px;
    text-decoration: underline;
    background-color: black;
    
}


