body{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #2f3031;
}
.bg-body-tertiary {
    border-top: 40px solid;
    border-color: #2f3031;
    background-color: #2f3031 !important;
    height: 0;
}

.container-fluid {
    background-color: #c86d19;
}

.header_img{
    position: absolute;
    height: 100px;
    padding-bottom: 10px;
}

.nav-item{
    margin-left: 30px;
}
.navimg{
    -webkit-transition: -webkit-transform 1s ;
}
.navimg:hover{
    -webkit-transform: rotate(270deg) translateZ(0);
}

#armas{
    padding-left: 100px;
}

#navdrop{
    left: 5vw;
}

.subnavbar{
    background-color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pesquisar{
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    height: 25px;
    background-color: #d9d9d9;
    border: 0;
}

.pesquisar::placeholder{
    font-size: 15px;
    font-weight: 50px;
    color: black;
}

.sub-items{
    position: absolute;
    right: 100px;
}
.carrinho{
    height: 50px;
}
.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
   color: #ffff !important;
}