body{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #2f3031;
}
.bg-body-tertiary {
    border-top: 40px solid;
    border-color: #2f3031;
    background-color: #2f3031 !important;
    height: 0;
}

.container-fluid {
    background-color: #c86d19;
}

.header_img{
    position: absolute;
    height: 90px;
    padding-bottom: 10px;
}

.nav-item{
    margin-left: 30px;
}

#armas{
    padding-left: 100px;
}

#navdrop{
    left: 5vw;
}

.subnavbar{
    background-color: white;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pesquisar{
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    height: 20px;
    background-color: #d9d9d9;
}

.pesquisar::placeholder{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.sub-items{
    position: absolute;
    right: 100px;
}