* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1f1f1f; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  

  h1 {
    margin-bottom: 10px;
  }
  
  section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    width: 300px;
    border: 2px solid #ff6600; 
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #333333; 
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .product h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product p {
    margin-bottom: 15px;
  }
  
  .product button {
    background-color: #ff6600; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product button:hover {
    background-color: #e65c00; 
  }

/*----------------------------Barra----------------------------------*/
  #title1{
    color:white;
}

.sub-div{
    display: flex;
    flex-direction: column;
}
  .sub-title{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}
.sub-div hr {
  display: block;
  height: 5px;
  width: 65vw;
  background-color: #c86d19;
  margin: 1em 0;
  padding: 0;
  opacity: 100%;
  border-radius: 2px;
}