body {
    padding: 0;
    }
    .main-div {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    }
    .dots-img {
    position: absolute;
    z-index: -2;
    height: 700px;
    }
    #title1 {
    color: white;
    }
    .sub-div {
    display: flex;
    flex-direction: column;
    }
    .link-for-products {
    position: relative;
    display: flex;
    width: 100%;
    font-size: small;
    justify-content: end;
    padding-right: 30px;
    margin-top: -30px;
    margin-bottom: 30px;
    }
    .sub-title, .sub-title2 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    }
    .sub-div hr {
    display: block;
    height: 5px;
    width: 65vw;
    background-color: #c86d19;
    margin: 1em 0;
    padding: 0;
    opacity: 100%;
    border-radius: 2px;
    }
    #title2 {
    width: 70vw;
    }
    .items-div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    }
    .item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    background-color: #d9d9d9;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    }
    a:link {
    text-decoration: none;
    }
    .item p {
    color: black;
    }
    .item img {
    border-radius: 10px 10px 0 0;
    }
    .items-div::-webkit-scrollbar {
    height: 7px;
    background: black;
    }
    .items-div::-webkit-scrollbar-thumb {
    background: orange;
    }
    .items-div::-webkit-scrollbar-button {
    width: 100px;
    background: #1f1f1f;
    }
    footer {
    margin-top: 60px;
    }