.lic-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    text-align: center;
}

.lic-title h1{
    font-size: 50px;
}

.lic-title hr{
    display: block;
  height: 2px;
  width: 32vw;
  background-color: #c86d19;
  padding: 0;
  opacity: 100%;
  border-radius: 2px;
  border: 0;
}

.priv-title hr{
    width: 27vw;
}

.sobre-title hr{
    width: 36vw;
}

.lic-div {
    margin-top: 30px;
    padding: 0 70px;
    text-align: center;
}

.lic-div p {
    font-weight: 100;
    color: rgb(190, 190, 190);
}

.lic-div strong {
    color: rgb(227, 227, 227)
}