.profile-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    margin-top: 50px;
}

.usr-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.usr-title h1{
    font-size: 50px;
    margin: 0px;
}

.usr-title hr{
    display: block;
    height: 2px;
    width: 32vw;
    background-color: #c86d19;
    padding: 0;
    opacity: 100%;
    border-radius: 2px;
    border: 0;
}

#profile-img{
    height: 160px;
}

.fields{
    margin-bottom: 20px;
}

.usr-hr{
    display: block;
    height: 4px;
    width: 41vw;
    background-color: #c86d19;
    padding: 0;
    opacity: 100%;
    border-radius: 2px;
    border: 0;
}

.edit-btn{
    background-color: rgb(255, 255, 255);
    color: hsl(0, 0%, 0%);
    height: 30px;
    width: 130px;
    border-radius: 5px;
    margin-right:20px ;
    transition: 0.3s;
    border: none;
    margin-bottom: 30px;
    font-size: 15px;
}

.edit-btn:hover{
    background-color: black;
    color: white;
}

.home-btn{
    background-color: black;
    color: #ffff;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-right:20px ;
    transition: 0.3s;
    border: none;
}
.home-btn:hover{
    background-color: rgb(125, 125, 125);
    color: #efa968;
}


.logout-btn {
    background-color: #C86D19;
    color: #ffff;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-left: 40px;
    transition: 0.3s; 
    border: none;
}

.logout-btn:hover{
    background-color: #efa968;
    color: black;
}