body{
    height: 800xpx;
    background-color: black;
}
.t-bar{
    background-color: #C86D19 ;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.img-hd{
    height: 170px;
    position: absolute;
    padding-bottom: 15px;
}
.logo-txt1{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 50px;
    min-width: 45vw;
    text-align: center;
}
.logo-txt2{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 30px;
    min-width: 45vw;
    text-align: center;
}
.txt1{
   text-align: center;
    color: #ffff;
    flex-direction: row;
    display: flex;
}
.p{
    width: 100vw;
}
.div1{
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div2{
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div3{
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.cnt{
    align-items: center;
    display: flex;
    padding-left: 430px ;
}
.btn-s{
    display: flex;
}
.form_button1{
    background-color: black;
    color: #ffff;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    
}
.btn-l{
    display: flex;
}
.form_button2{
    font-family: ;
    background-color: #C86D19;
    color: #ffff;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    
}
.txt2{
    padding-left: 1000px;
    color: #ffff;
}
.ent{
    padding-left: 1100px;
    text-decoration: none;
}