.top-bar{
    background-color: #C86D19 ;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    width: 100%;
    justify-content: space-around;
    
    align-items: center;
   
}
.content-txt1{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 50px;
    min-width: 45vw;
    text-align: center;
}
.content-txt2{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 30px;
    min-width: 45vw;
    text-align: center;
}
.content-img{
    position: absolute;
    height: 135px;
    padding-bottom: 15px;    

}
.content-txt{
    color: white;
}
.low-bar{
    border-top: 20px solid black;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    color: #ffff;
    font-size: 16px;
    background-color: black;
    
}
.low-bar2{
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffff;
    background-color: black;
}
.content-txt3{
    text-align: center;
    font-size: 16px;
    
}
.content-img2{
    margin-left: 100px;
    height: 50px;
}
.low-bar3{
    border-top: 30px solid black;
    border-bottom: 80px solid black;
    height: 70px;
    justify-content: center;
    display: flex;
    color: #ffff;
    font-size: 16px;
    text-decoration: underline;
    background-color: black;
    
}

body{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #2f3031;
}
.bg-body-tertiary {
    border-top: 40px solid;
    border-color: #2f3031;
    background-color: #2f3031 !important;
    height: 0;
}

.container-fluid {
    background-color: #c86d19;
}

.header_img{
    position: absolute;
    height: 100px;
    padding-bottom: 10px;
}

.nav-item{
    margin-left: 30px;
}
.navimg{
    -webkit-transition: -webkit-transform 1s ;
}
.navimg:hover{
    -webkit-transform: rotate(270deg) translateZ(0);
}

#armas{
    padding-left: 100px;
}

#navdrop{
    left: 5vw;
}

.subnavbar{
    background-color: white;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pesquisar{
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    height: 25px;
    background-color: #d9d9d9;
    border: 0;
}

.pesquisar::placeholder{
    font-size: 15px;
    font-weight: 50px;
    color: black;
}

.sub-items{
    position: absolute;
    right: 100px;
}