<!DOCTYPE html>
<html>
<head>
 <title>ADI - Arsenal de Defesa Integrada</title>
 <link rel="stylesheet" type="text/css" href="registre.css">
</head>
<body>
    <script src="header.jsx"></script>
 <div class="container">
 <h1>ADI (Arsenal de Defesa Integrada)</h1>
 <form class="form">
 <label for="email">E-mail:</label>
 <input type="email" id="email" name="email" value="ex@email.com" required>
 <br>
 <label for="password">Senha:</label>
 <input type="password" id="password" name="password" value="1234567890" required>
 <br>
 <input type="checkbox" id="remember" name="remember" checked>
 <label for="remember">Me manter conectado</label>
 <br>
 <input type="submit" value="Entrar">
 <button type="button" onclick="location.href='index.html';">Voltar ao início</button>
 <button type="button" onclick="location.href='#';">Concluir</button>
 </form>
 <div class="details">
    <script src="footer.jsx"></script>
</body>
</html>