* {
    box-sizing: border-box;
   }
   
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }
   
   .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
   }
   
   h1 {
    text-align: center;
    margin-bottom: 30px;
   }
   
   .form {
    display: flex;
    flex-direction: column;
   }
   
   label {
    margin-bottom: 5px;
   }
   
   input[type="email"],
   input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   }
   
   input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
   }
   
   input[type="submit"]:hover {
    background-color: #45a049;
   }
   
   button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
   }
   
   button:hover {
    background-color: #45a049;
   }
   
   .details {
    margin-bottom: 20px;
   }
   
   p {
    margin: 0;
   }
   
   ul {
    list-style: none;
    padding: 0;
   }
   
   li {
    margin-bottom: 5px;
   }
body {
    background-color: #484d50;
}

input[type="submit"],
button {
    background-color: #FFA500; 
    color: black; 
}

input[type="submit"]:hover,
button:hover {
    background-color: #FF8C00; 
}


top-bar{
    background-color: #C86D19 ;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    width: 100%;
    justify-content: space-around;
    
    align-items: center;
   
}
.content-txt1{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 50px;
    min-width: 45vw;
    text-align: center;
}
.content-txt2{
    margin-bottom: 0px;
    color: #ffff;
    font-size: 30px;
    min-width: 45vw;
    text-align: center;
}
.content-img{
    position: absolute;
    height: 135px;
    padding-bottom: 15px;    

}
.content-txt{
    color: white;
}
.low-bar{
    border-top: 20px solid black;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    color: #ffff;
    font-size: 16px;
    background-color: black;
    
}
.low-bar2{
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffff;
    background-color: black;
}
.content-txt3{
    text-align: center;
    font-size: 16px;
    
}
.content-img2{
    margin-left: 100px;
    height: 50px;
}
.low-bar3{
    border-top: 30px solid black;
    border-bottom: 80px solid black;
    height: 70px;
    justify-content: center;
    display: flex;
    color: #ffff;
    font-size: 16px;
    text-decoration: underline;
    background-color: black;
    
}


