<!DOCTYPE html>
<html>
<head>
 <title>ADI - Arsenal de Defesa Integrada</title>
 <link rel="stylesheet" type="text/css" href="registre.css">
 <style>
    /* Adicionando flexbox para os botões */
    .form-buttons {
        display: flex;
        justify-content: space-between; /* Espaço igual entre os botões */
    }
 </style>
</head>
<body>
    <script src="header.jsx"></script>
 <div class="container">
 <h1>ADI (Arsenal de Defesa Integrada)</h1>
 <form class="form">
 <label for="email">E-mail:</label>
 <input type="email" id="email" name="email"
 <br>
 <label for="password">Senha:</label>
 <input type="password" id="password" name="password" 
 <br>
 <input type="checkbox" id="remember" name="remember" checked>
 <label for="remember">Me manter conectado</label>
 <br>
 <!-- Div para envolver os botões e aplicar flexbox -->
 <div class="form-buttons">
     <input type="submit" value="Entrar">
     <button type="button" onclick="location.href='index.html';">Voltar ao início</button>
 </div>
 </form>
 <div class="details">
    <script src="footer.jsx"></script>
</body>
</html>
